POSTGRES_PASSWORD=postgres
KEYCLOAK_DB_PASSWORD=postgres
SUPER_SKYLAB_DB_PASSWORD=postgres
SKYLAB_CMS_DB_PASSWORD=postgres
FORMS_DB_PASSWORD=postgres
SKYMAIL_DB_PASSWORD=postgres

REDIS_DB_CMS=0
REDIS_DB_FORMS=1
